section.about {
    background-color: #fff;
    padding-top: 180px;
    padding-bottom: 180px;
}

.about-row {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

/* About Img */
.about-img img {
    width: 600px;
}

/* About Text */
.about-text {
    max-width: 350px;
    font-weight: bold;
}

.about-text h3 {
    font-size: 16px;
    line-height: 1.50;
    text-transform: uppercase;
}

.about-text .about-title {
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 40px;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: normal;
}

.about-list li {
    position: relative;
    margin-left: 40px;
}

.about-list li::before {
    content: '';
    position: absolute;
    background-image: url(./../../assets/icon/about-list.svg);
    width: 16px;
    height: 16px;
    top: 0px;
    left: -36px;
}

.about-btn {
    line-height: 44px;
    margin-top: 48px;
}