.events {
    padding: 80px 0 80px;
}

.events-row {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.events-title {
    text-align: center;
}

.events-schedule {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.events-information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.events-information p {
    font-size: 28px;
    font-weight: bold;
}